<div style="text-align:center;">
<p id="notice"><%= notice %></p>

<h2>Choose from a category of your choice</h2>
<div style="display: flex; position: relative;
    left: 17%;">
	<% @categories.each_with_index do |category, i| %>
		<div>
			<%= link_to image_for_category(category.name.downcase), category_path(category) %>
			<h4><%= category.name.titleize %></h4>
		</div>
		<% if i%3==0 %>
			<br/>
		<% end %>
	<% end %>
</div>
</div>