<br><%= link_to 'Explore Main Menu', root_path %>
<hr>
<table align="center">
<thead>
<tr>
  <td>Order Date</td>
  <td>Order Status</td>
  <td>Total Price</td>
</tr>

</thead>
<tbody>
  <% @orders.each do |order| %>
    <tr><%= render 'order', order: order %></tr>
  <% end %>

</tbody>
</table>
<hr>
<br><%= link_to 'Explore Main Menu', root_path %>