<center>
<% unless @order.blank? %>
	<br><%= button_to 'Buy Now' , buy_now_orders_path %><hr>

	<table align="center">
		<thead>
		<tr>
		  <td>Item Name</td>
		  <td>Price</td>
		  <td>Quantity</td>
		  <td>Total Price</td>
		</tr>

		</thead>
	  <tbody>
	    <% @order.carts.each do |cart| %>
	      <tr><%= render 'carts/cart', cart: cart %></tr>
	    <% end %>

	  </tbody>
	</table>

	<hr><%= button_to 'Buy Now' , buy_now_orders_path %>
<% else %>
	<h4>Your Cart seems to be empty</h4>
	<h4>Please get some delicious foods and fill your cart</h4>
<% end %>
</center>